Name: <%= @user.name %><br>

<% if @user.admin? %>
  <p>ADMIN</p>
<% else %>
  Tickets: <%= @user.tickets %><br>
  Mood: <%= @user.mood %><br>
  Height: <%= @user.height %> inches <br><br>
<% end %>

<%= link_to "Edit", edit_user_path(@user) %><br>

<%= link_to "See attractions", attractions_path %>
